# Ignore all directories named __pycache__ in any location within the repository.
**/__pycache__

# Ignore Python bytecode files directly under the repository's root directory.
__pycache__/

# Ignore the .venv folder
.venv

# Ignore the .vscode folder
.vscode

# Ignore the these folder
temp
results
Videos
Documents
Audios
Images

# Ignore these format of files
### Video Formats
*.mp4
*.MP4
*.mkv
*.MKV
*.avi
*.AVI
*.mov
*.MOV
*.webm
*.WEBM
*.wmv
*.WMV
*.flv
*.FLV
*.mpeg
*.MPEG
*.mpg
*.MPG
*.3gp
*.3GP

### Music Formats
*.mp3
*.MP3
*.wav
*.WAV
*.ogg
*.OGG
*.aac
*.AAC
*.flac
*.FLAC
*.wma
*.WMA
*.m4a
*.M4A
*.alac
*.ALAC
*.aiff
*.AIFF

### Image Formats
*.jpg
*.JPG
*.jpeg
*.JPEG
*.png
*.PNG
*.gif
*.GIF
*.bmp
*.BMP
*.svg
*.SVG
*.webp
*.WEBP
*.tiff
*.TIFF
*.heic
*.HEIC
*.raw
*.RAW

### Document Formats
*.pdf
*.PDF
*.doc
*.DOC
*.docx
*.DOCX
*.xls
*.XLS
*.xlsx
*.XLSX
*.ppt
*.PPT
*.pptx
*.PPTX
*.txt
*.TXT
*.odt
*.ODT
*.rtf
*.RTF
*.html
*.HTML
*.md
*.MD
*.epub
*.EPUB
*.mobi
*.MOBI
